/* screen - homepage-iterated */

.homepage-iterated {
  background-color: var(--white);
  height: 1286px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.homepage-iterated .badges-achievements-C61RwL {
  background-color: transparent;
  height: 14px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 910px;
  white-space: nowrap;
  width: auto;
}
.homepage-iterated .battery-HprNOo {
  background-color: transparent;
  height: 11px;
  left: 42px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.homepage-iterated .bg-86fQCx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 375px;
}
.homepage-iterated .blue-speech-bubble-icon-C61RwL {
  background-color: transparent;
  height: 108px;
  left: 147px;
  object-fit: cover;
  position: absolute;
  top: 944px;
  width: 213px;
}
.homepage-iterated .cards-BfLEWr {
  background-color: transparent;
  height: 115px;
  left: 4px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.homepage-iterated .cards-C61RwL {
  background-color: transparent;
  height: 171px;
  left: 20px;
  position: absolute;
  top: 689px;
  width: 333px;
}
.homepage-iterated .cards-Sx78oN {
  background-color: transparent;
  height: 115px;
  left: 360px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.homepage-iterated .cards-rdVFkk {
  background-color: transparent;
  height: 115px;
  left: 716px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.homepage-iterated .checking-time-lady-icon-C61RwL {
  background-color: transparent;
  height: 238px;
  left: 22px;
  object-fit: cover;
  position: absolute;
  top: 944px;
  width: 123px;
}
.homepage-iterated .combined-shape-4hFnaz {
  background-color: transparent;
  height: 4px;
  left: 23px;
  position: absolute;
  top: 4px;
  width: 2px;
}
.homepage-iterated .daily-quiz-C61RwL {
  background-color: transparent;
  height: 14px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 551px;
  white-space: nowrap;
  width: auto;
}
.homepage-iterated .do-todays-quiz-adge-good-human-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Work Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: 63px;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 594px;
  width: 225px;
}
.homepage-iterated .flame-768-1-Qa2Zc4 {
  background-color: transparent;
  height: 92px;
  left: 27px;
  position: absolute;
  top: 11px;
  width: 90px;
}
.homepage-iterated .flame-768-1-eHZtiq {
  background-color: transparent;
  height: 93px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 90px;
}
.homepage-iterated .flame-768-2-Sx78oN {
  background-color: transparent;
  height: 59px;
  left: 393px;
  position: absolute;
  top: 28px;
  width: 80px;
}
.homepage-iterated .group-79-xjb0Rz {
  background-color: transparent;
  height: 54px;
  left: 19px;
  position: absolute;
  top: 7px;
  width: 38px;
}
.homepage-iterated .group-8-Qa2Zc4 {
  background-color: var(--desert-storm);
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(103,103,103,0.25);;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.homepage-iterated .group-8-Rf2xD6 {
  background-color: var(--desert-storm);
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(103,103,103,0.25);;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.homepage-iterated .group-8-eHZtiq {
  background-color: var(--desert-storm);
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(103,103,103,0.25);;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.homepage-iterated .group-8-u2rv7T {
  background-color: var(--desert-storm);
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(103,103,103,0.25);;
  height: 171px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.homepage-iterated .group-80-xjb0Rz {
  background-color: transparent;
  height: 52px;
  left: 122px;
  position: absolute;
  top: 8px;
  width: 29px;
}
.homepage-iterated .group-81-xjb0Rz {
  background-color: transparent;
  height: 53px;
  left: 319px;
  position: absolute;
  top: 7px;
  width: 38px;
}
.homepage-iterated .group-82-xjb0Rz {
  background-color: transparent;
  height: 53px;
  left: 216px;
  position: absolute;
  top: 7px;
  width: 38px;
}
.homepage-iterated .hero-image-homepage-C61RwL {
  background-color: transparent;
  height: 205px;
  left: 84px;
  object-fit: cover;
  position: absolute;
  top: 39px;
  width: 205px;
}
.homepage-iterated .hi-thomas-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Work Sans', Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  height: 42px;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 249px;
  width: 377px;
}
.homepage-iterated .hmm-nothing-yet-C61RwL {
  background-color: transparent;
  height: 52px;
  left: 158px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 949px;
  width: 193px;
}
.homepage-iterated .home-i436549300583-jbSSr9 {
  background-color: transparent;
  height: 14px;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}
.homepage-iterated .home-indicator-xjb0Rz {
  background-color: var(--black);
  border-radius: 100px;
  height: 5px;
  left: 121px;
  position: absolute;
  top: 72px;
  width: 134px;
}
.homepage-iterated .home-nav-icon-kh1wEo {
  background-color: transparent;
  height: 30px;
  left: 1px;
  position: absolute;
  top: 3px;
  width: 34px;
}
.homepage-iterated .i-phone-x-11-pro-C61RwL {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.homepage-iterated .i-phone-x-11-pro-black-LMS6Bj {
  background-color: transparent;
  height: 44px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 375px;
}
.homepage-iterated .left-side-86fQCx {
  background-color: transparent;
  height: 11px;
  left: 33px;
  position: absolute;
  top: 17px;
  width: 28px;
}
.homepage-iterated .line-31-Sx78oN {
  background-color: transparent;
  height: 2px;
  left: 140px;
  position: absolute;
  top: 129px;
  width: 705px;
}
.homepage-iterated .mindfulness-icon-C61RwL {
  background-color: transparent;
  height: 121px;
  left: 33px;
  position: absolute;
  top: 714px;
  width: 112px;
}
.homepage-iterated .mobile-signal-HprNOo {
  background-color: transparent;
  height: 12px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 18px;
}
.homepage-iterated .motivating-desc-i4365343003798-u2rv7T {
  background-color: transparent;
  color: var(--black);
  font-family: 'Lato', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 174px;
}
.homepage-iterated .motivating-desc-i4365433003768-Rf2xD6 {
  background-color: transparent;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 174px;
}
.homepage-iterated .motivating-desc-i4365443003768-Qa2Zc4 {
  background-color: transparent;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 174px;
}
.homepage-iterated .motivating-desc-i4365483003768-eHZtiq {
  background-color: transparent;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 174px;
}
.homepage-iterated .navigation-C61RwL {
  background-color: transparent;
  height: 85px;
  left: 0px;
  position: absolute;
  top: 1201px;
  width: 375px;
}
.homepage-iterated .notch-bP8xXx {
  background-color: transparent;
  height: 30px;
  left: 78px;
  position: absolute;
  top: 0px;
  width: 219px;
}
.homepage-iterated .profile-i436549300611-QcSVD9 {
  background-color: transparent;
  height: 14px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 39px;
  white-space: nowrap;
  width: auto;
}
.homepage-iterated .profile-nav-icon-QcSVD9 {
  background-color: transparent;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.homepage-iterated .quiz-i436549300600-3AZWbb {
  background-color: transparent;
  height: 14px;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 39px;
  white-space: nowrap;
  width: auto;
}
.homepage-iterated .rectangle-183-C61RwL {
  background-color: transparent;
  height: 133px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.homepage-iterated .rectangle-4hFnaz {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 22px;
}
.homepage-iterated .rectangle-7HOKsp {
  background-color: transparent;
  height: 8px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.homepage-iterated .rectangle-94-Qa2Zc4 {
  background-color: var(--green-vogue);
  border-radius: 10px;
  height: 92px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 126px;
}
.homepage-iterated .rectangle-94-Rf2xD6 {
  background-color: var(--green-vogue);
  border-radius: 10px;
  height: 92px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 126px;
}
.homepage-iterated .rectangle-94-eHZtiq {
  background-color: var(--green-vogue);
  border-radius: 10px;
  height: 92px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 126px;
}
.homepage-iterated .rectangle-94-u2rv7T {
  background-color: var(--green-vogue);
  border-radius: 10px;
  height: 137px;
  left: 9px;
  position: absolute;
  top: 17px;
  width: 126px;
}
.homepage-iterated .relationship-icon-Sx78oN {
  background-color: transparent;
  height: 85px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 85px;
}
.homepage-iterated .right-side-86fQCx {
  background-color: transparent;
  height: 11px;
  left: 294px;
  position: absolute;
  top: 17px;
  width: 67px;
}
.homepage-iterated .skill-name-i4365343003799-u2rv7T {
  background-color: transparent;
  color: var(--blue-zodiac);
  font-family: 'Work Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 21px;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 17px;
  width: 174px;
}
.homepage-iterated .skill-name-i4365433003769-Rf2xD6 {
  background-color: transparent;
  color: var(--blue-zodiac);
  font-family: 'Work Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 14px;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  width: 174px;
}
.homepage-iterated .skill-name-i4365443003769-Qa2Zc4 {
  background-color: transparent;
  color: var(--blue-zodiac);
  font-family: 'Work Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 14px;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  width: 174px;
}
.homepage-iterated .skill-name-i4365483003769-eHZtiq {
  background-color: transparent;
  color: var(--blue-zodiac);
  font-family: 'Work Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 14px;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  width: 174px;
}
.homepage-iterated .skills-i436549300590-oG6d86 {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 38px;
  white-space: nowrap;
  width: auto;
}
.homepage-iterated .skills-nav-icon-oG6d86 {
  background-color: transparent;
  height: 35px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 25px;
}
.homepage-iterated .trending-C61RwL {
  background-color: transparent;
  height: 130px;
  left: 13px;
  position: absolute;
  top: 390px;
  width: 347px;
}
.homepage-iterated .trending-skills-C61RwL {
  background-color: transparent;
  height: 14px;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 337px;
  white-space: nowrap;
  width: auto;
}
.homepage-iterated .try-to-learn-a-iz-to-earn-some-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Work Sans', Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  height: 84px;
  left: 151px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1067px;
  width: 203px;
}
.homepage-iterated .union-C61RwL {
  background-color: transparent;
  height: 307px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.homepage-iterated .union-xjb0Rz {
  background-color: transparent;
  height: 125px;
  left: -20px;
  position: absolute;
  top: -24px;
  width: 415px;
}
.homepage-iterated .viking-icon-C61RwL {
  background-color: transparent;
  height: 132px;
  left: 228px;
  object-fit: cover;
  position: absolute;
  top: 547px;
  width: 126px;
}
.homepage-iterated .wifi-HprNOo {
  background-color: transparent;
  height: 12px;
  left: 22px;
  position: absolute;
  top: -1px;
  width: 16px;
}
.homepage-iterated .x24-basic-home-jbSSr9 {
  background-color: transparent;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.homepage-iterated .x24-basic-pencil-edit-3AZWbb {
  background-color: transparent;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.homepage-iterated .x941-qAQ6wx {
  background-color: transparent;
  height: 12px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 29px;
}
.homepage-iterated .yellow-cloud-icon-C61RwL {
  background-color: transparent;
  height: 146px;
  left: 142px;
  position: absolute;
  top: 1036px;
  width: 212px;
}
.lato-medium-black-24px {
  color: var(--black);
  font-family: 'Lato', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.lato-normal-black-12px {
  color: var(--black);
  font-family: 'Lato', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.worksans-medium-green-vogue-10px {
  color: var(--green-vogue);
  font-family: 'Work Sans', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}
.worksans-normal-black-20px {
  color: var(--black);
  font-family: 'Work Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.worksans-semi-bold-black-18px {
  color: var(--black);
  font-family: 'Work Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.worksans-semi-bold-black-24px {
  color: var(--black);
  font-family: 'Work Sans', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.worksans-semi-bold-black-26px {
  color: var(--black);
  font-family: 'Work Sans', Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
}
.worksans-semi-bold-white-16px {
  color: var(--white);
  font-family: 'Work Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.worksans-semi-bold-white-18px {
  color: var(--white);
  font-family: 'Work Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.worksans-semi-bold-white-24px {
  color: var(--white);
  font-family: 'Work Sans', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
:root {
  --alto: rgba(217,217,217,1.0);
  --black: rgba(0,0,0,1.0);
  --blue-zodiac: rgba(16,41,76,1.0);
  --caribbean-green-pearl: rgba(86,222,140,1.0);
  --desert-storm: rgba(248,248,248,1.0);
  --green-vogue: rgba(4,41,79,1.0);
  --grenadier: rgba(226,48,1,1.0);
  --selective-yellow: rgba(255,180,0,1.0);
  --storm-dust: rgba(96,96,96,1.0);
  --white: rgba(255,255,255,1.0);
}
