/* screen - skills-finance-about-iterated */

.lato-medium-black-24px {
  color: var(--black);
  font-family: 'Lato', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.lato-normal-black-12px {
  color: var(--black);
  font-family: 'Lato', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.skills-finance-about-iterated {
  background-color: var(--white);
  height: 812px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}
.skills-finance-about-iterated .about-i4362403268063003724-A4YxlI {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: auto;
}
.skills-finance-about-iterated .about-on-0Z81Dy {
  background-color: transparent;
  height: 47px;
  left: 211px;
  position: absolute;
  top: 0px;
  width: 123px;
}
.skills-finance-about-iterated .about-variant3-C61RwL {
  background-color: transparent;
  height: 429px;
  left: 22px;
  position: absolute;
  top: 112px;
  width: 334px;
}
.skills-finance-about-iterated .achievements-you-can-get-C61RwL {
  background-color: transparent;
  height: auto;
  left: 39px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 353px;
  white-space: nowrap;
  width: auto;
}
.skills-finance-about-iterated .battery-4e4sft {
  background-color: transparent;
  height: 11px;
  left: 42px;
  position: absolute;
  top: 0px;
  width: 24px;
}
.skills-finance-about-iterated .bg-K4FkNx {
  background-color: transparent;
  height: 46px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 375px;
}
.skills-finance-about-iterated .cards-large-skills-navy-IImY9D {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 135px;
  width: 333px;
}
.skills-finance-about-iterated .cards-large-skills-navy-Ov9dgb {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 676px;
  width: 333px;
}
.skills-finance-about-iterated .cards-large-skills-navy-QGgV9b {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 271px;
  width: 333px;
}
.skills-finance-about-iterated .cards-large-skills-navy-kB2VWk {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 541px;
  width: 333px;
}
.skills-finance-about-iterated .cards-large-skills-navy-mAX6ke {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 406px;
  width: 333px;
}
.skills-finance-about-iterated .cards-large-skills-navy-pqQuwH {
  background-color: transparent;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.skills-finance-about-iterated .collect-finance-pleting-lessons-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Lato', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 390px;
  width: 248px;
}
.skills-finance-about-iterated .combined-shape-tXXCRq {
  background-color: transparent;
  height: 4px;
  left: 23px;
  position: absolute;
  top: 4px;
  width: 2px;
}
.skills-finance-about-iterated .earn-brain-badg-t-score-quizzes-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Lato', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 436px;
  width: 255px;
}
.skills-finance-about-iterated .flame-768-1-PD82jm {
  background-color: transparent;
  height: 93px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 90px;
}
.skills-finance-about-iterated .flame-768-1-UTPsQ7 {
  background-color: transparent;
  height: 93px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 90px;
}
.skills-finance-about-iterated .flame-768-1-VU5C0x {
  background-color: transparent;
  height: 93px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 90px;
}
.skills-finance-about-iterated .flame-768-1-WYBUb9 {
  background-color: transparent;
  height: 93px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 90px;
}
.skills-finance-about-iterated .flame-768-1-fJ5U9i {
  background-color: transparent;
  height: 93px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 90px;
}
.skills-finance-about-iterated .flame-768-1-jYfVku {
  background-color: transparent;
  height: 93px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 90px;
}
.skills-finance-about-iterated .frame-5-C61RwL {
  background-color: transparent;
  height: 791px;
  left: 22px;
  overflow: hidden;
  position: absolute;
  top: 179px;
  width: 342px;
}
.skills-finance-about-iterated .frame-6-C61RwL {
  background-color: rgba(68,68,68,1.0);
  height: 577px;
  left: 1px;
  overflow: hidden;
  position: absolute;
  top: 156px;
  width: 376px;
}
.skills-finance-about-iterated .get-the-profile-r-have-my-money-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Lato', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 88px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 481px;
  width: 273px;
}
.skills-finance-about-iterated .group-79-XuXe12 {
  background-color: transparent;
  height: 54px;
  left: 19px;
  position: absolute;
  top: 7px;
  width: 38px;
}
.skills-finance-about-iterated .group-8-PD82jm {
  background-color: var(--desert-storm);
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(103,103,103,0.25);;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.skills-finance-about-iterated .group-8-UTPsQ7 {
  background-color: var(--desert-storm);
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(103,103,103,0.25);;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.skills-finance-about-iterated .group-8-VU5C0x {
  background-color: var(--desert-storm);
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(103,103,103,0.25);;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.skills-finance-about-iterated .group-8-WYBUb9 {
  background-color: var(--desert-storm);
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(103,103,103,0.25);;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.skills-finance-about-iterated .group-8-fJ5U9i {
  background-color: var(--desert-storm);
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(103,103,103,0.25);;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.skills-finance-about-iterated .group-8-jYfVku {
  background-color: var(--desert-storm);
  border-radius: 8px;
  box-shadow: 0px 6px 10px rgba(103,103,103,0.25);;
  height: 115px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 333px;
}
.skills-finance-about-iterated .group-80-XuXe12 {
  background-color: transparent;
  height: 52px;
  left: 122px;
  position: absolute;
  top: 8px;
  width: 29px;
}
.skills-finance-about-iterated .group-81-XuXe12 {
  background-color: transparent;
  height: 53px;
  left: 319px;
  position: absolute;
  top: 7px;
  width: 38px;
}
.skills-finance-about-iterated .group-82-XuXe12 {
  background-color: transparent;
  height: 53px;
  left: 216px;
  position: absolute;
  top: 7px;
  width: 38px;
}
.skills-finance-about-iterated .header-header-skills-large-C61RwL {
  background-color: transparent;
  background-image: url(../img/union-82@2x.svg);
  background-size: 100% 100%;
  height: 160px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 375px;
}
.skills-finance-about-iterated .home-i4362393027289-XQylJp {
  background-color: transparent;
  height: 14px;
  left: 3px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: auto;
}
.skills-finance-about-iterated .home-indicator-XuXe12 {
  background-color: var(--black);
  border-radius: 100px;
  height: 5px;
  left: 121px;
  position: absolute;
  top: 72px;
  width: 134px;
}
.skills-finance-about-iterated .i-phone-x-11-pro-N3MhLE {
  background-color: transparent;
  height: 44px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 375px;
}
.skills-finance-about-iterated .i-phone-x-11-pro-black-xUME6c {
  background-color: transparent;
  height: 44px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 375px;
}
.skills-finance-about-iterated .icon-A4YxlI {
  background-color: transparent;
  height: 10px;
  left: 95px;
  position: absolute;
  top: 20px;
  width: 14px;
}
.skills-finance-about-iterated .icon-Ae18Lk {
  background-color: transparent;
  height: 37px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 36px;
}
.skills-finance-about-iterated .icon-Ed42Ul {
  background-color: transparent;
  height: 31px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 30px;
}
.skills-finance-about-iterated .icon-N3MhLE {
  background-color: transparent;
  height: 25px;
  left: 18px;
  position: absolute;
  top: 59px;
  width: 15px;
}
.skills-finance-about-iterated .icon-d4Xmw8 {
  background-color: transparent;
  height: 31px;
  left: 1px;
  position: absolute;
  top: 3px;
  width: 34px;
}
.skills-finance-about-iterated .icon-gFsrOd {
  background-color: transparent;
  height: 36px;
  left: 1px;
  position: absolute;
  top: -0px;
  width: 25px;
}
.skills-finance-about-iterated .learn-how-to-de-eep-singh-bains-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Lato', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 136px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 208px;
  width: 234px;
}
.skills-finance-about-iterated .left-side-K4FkNx {
  background-color: transparent;
  height: 11px;
  left: 33px;
  position: absolute;
  top: 17px;
  width: 28px;
}
.skills-finance-about-iterated .level-up-your-f-i4362383027408-N3MhLE {
  background-color: transparent;
  color: var(--white);
  font-family: 'Work Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  top: 91px;
  width: 338px;
}
.skills-finance-about-iterated .mobile-signal-4e4sft {
  background-color: transparent;
  height: 12px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 18px;
}
.skills-finance-about-iterated .motivating-desc-i4362313027230-PD82jm {
  background-color: transparent;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 174px;
}
.skills-finance-about-iterated .motivating-desc-i4362323027230-WYBUb9 {
  background-color: transparent;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 174px;
}
.skills-finance-about-iterated .motivating-desc-i4362333027230-fJ5U9i {
  background-color: transparent;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 174px;
}
.skills-finance-about-iterated .motivating-desc-i4362343027230-jYfVku {
  background-color: transparent;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 174px;
}
.skills-finance-about-iterated .motivating-desc-i4362353027230-VU5C0x {
  background-color: transparent;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 174px;
}
.skills-finance-about-iterated .motivating-desc-i4362363027230-UTPsQ7 {
  background-color: transparent;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 52px;
  width: 174px;
}
.skills-finance-about-iterated .navigation-variant6-C61RwL {
  background-color: transparent;
  height: 85px;
  left: 0px;
  position: absolute;
  top: 727px;
  width: 375px;
}
.skills-finance-about-iterated .notch-jJjMyl {
  background-color: transparent;
  height: 30px;
  left: 78px;
  position: absolute;
  top: 0px;
  width: 219px;
}
.skills-finance-about-iterated .profile-i4362393027317-Ae18Lk {
  background-color: transparent;
  height: 14px;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 39px;
  white-space: nowrap;
  width: auto;
}
.skills-finance-about-iterated .quiz-i4362393027306-aBwSBF {
  background-color: transparent;
  height: 14px;
  left: 7px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 39px;
  white-space: nowrap;
  width: auto;
}
.skills-finance-about-iterated .rectangle-204-C61RwL {
  background-color: transparent;
  height: 151px;
  left: 37px;
  position: absolute;
  top: 375px;
  width: 302px;
}
.skills-finance-about-iterated .rectangle-94-PD82jm {
  background-color: var(--green-vogue);
  border-radius: 10px;
  height: 92px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 126px;
}
.skills-finance-about-iterated .rectangle-94-UTPsQ7 {
  background-color: var(--green-vogue);
  border-radius: 10px;
  height: 92px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 126px;
}
.skills-finance-about-iterated .rectangle-94-VU5C0x {
  background-color: var(--green-vogue);
  border-radius: 10px;
  height: 92px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 126px;
}
.skills-finance-about-iterated .rectangle-94-WYBUb9 {
  background-color: var(--green-vogue);
  border-radius: 10px;
  height: 92px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 126px;
}
.skills-finance-about-iterated .rectangle-94-fJ5U9i {
  background-color: var(--green-vogue);
  border-radius: 10px;
  height: 92px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 126px;
}
.skills-finance-about-iterated .rectangle-94-jYfVku {
  background-color: var(--green-vogue);
  border-radius: 10px;
  height: 92px;
  left: 9px;
  position: absolute;
  top: 11px;
  width: 126px;
}
.skills-finance-about-iterated .rectangle-Op6KuS {
  background-color: transparent;
  height: 8px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 18px;
}
.skills-finance-about-iterated .rectangle-tXXCRq {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 22px;
}
.skills-finance-about-iterated .right-side-K4FkNx {
  background-color: transparent;
  height: 11px;
  left: 294px;
  position: absolute;
  top: 17px;
  width: 67px;
}
.skills-finance-about-iterated .skill-name-i4362313027231-PD82jm {
  background-color: transparent;
  color: var(--blue-zodiac);
  font-family: 'Work Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 14px;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  width: 174px;
}
.skills-finance-about-iterated .skill-name-i4362333027231-fJ5U9i {
  background-color: transparent;
  color: var(--blue-zodiac);
  font-family: 'Work Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: 14px;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  width: 174px;
}
.skills-finance-about-iterated .skill-name-i4362343027231-jYfVku {
  background-color: transparent;
  color: var(--blue-zodiac);
  font-family: 'Work Sans', Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  height: 14px;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  width: 174px;
}
.skills-finance-about-iterated .skill-name-i4362353027231-VU5C0x {
  background-color: transparent;
  color: var(--blue-zodiac);
  font-family: 'Work Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 14px;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  width: 174px;
}
.skills-finance-about-iterated .skill-name-i4362363027231-UTPsQ7 {
  background-color: transparent;
  color: var(--blue-zodiac);
  font-family: 'Work Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 14px;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  width: 174px;
}
.skills-finance-about-iterated .skills-i4362393027296-gFsrOd {
  background-color: transparent;
  height: 14px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 38px;
  white-space: nowrap;
  width: auto;
}
.skills-finance-about-iterated .span0-1DJTZU {
  color: rgba(255,255,255,1.0);
  font-style: normal;
  line-height: normal;
}
.skills-finance-about-iterated .span0-4p8OSL {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.skills-finance-about-iterated .span0-CIWpiN {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.skills-finance-about-iterated .span0-nOB67E {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.skills-finance-about-iterated .span0-sXCH2a {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.skills-finance-about-iterated .span1-1DJTZU {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.skills-finance-about-iterated .span1-4p8OSL {
  color: rgba(255,255,255,1.0);
  font-style: normal;
  font-weight: 700;
}
.skills-finance-about-iterated .span1-CIWpiN {
  color: rgba(255,255,255,1.0);
  font-style: normal;
  font-weight: 700;
}
.skills-finance-about-iterated .span1-nOB67E {
  color: rgba(255,255,255,1.0);
  font-style: normal;
  font-weight: 700;
}
.skills-finance-about-iterated .span1-sXCH2a {
  color: rgba(255,255,255,1.0);
  font-style: normal;
  font-weight: 700;
}
.skills-finance-about-iterated .span2-1DJTZU {
  color: rgba(255,255,255,1.0);
  font-size: 26px;
  font-style: normal;
  line-height: 26px;
}
.skills-finance-about-iterated .span2-CIWpiN {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.skills-finance-about-iterated .span2-sXCH2a {
  color: rgba(255,255,255,1.0);
  font-style: normal;
}
.skills-finance-about-iterated .span3-1DJTZU {
  color: rgba(255,255,255,1.0);
  font-size: 26px;
  font-style: normal;
  line-height: normal;
}
.skills-finance-about-iterated .union-0Z81Dy {
  background-color: transparent;
  height: 382px;
  left: 0px;
  position: absolute;
  top: 47px;
  width: 334px;
}
.skills-finance-about-iterated .union-A4YxlI {
  background-color: transparent;
  height: 48px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 123px;
}
.skills-finance-about-iterated .union-XuXe12 {
  background-color: transparent;
  height: 126px;
  left: -20px;
  position: absolute;
  top: -24px;
  width: 415px;
}
.skills-finance-about-iterated .vector-creator-11-1-C61RwL {
  background-color: transparent;
  height: 189px;
  left: 16px;
  position: absolute;
  top: 139px;
  width: 189px;
}
.skills-finance-about-iterated .vector-creator-13-6-C61RwL {
  background-color: transparent;
  height: 48px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 233px;
  width: 65px;
}
.skills-finance-about-iterated .vector-creator-15-5-C61RwL {
  background-color: transparent;
  height: 30px;
  left: 49px;
  position: absolute;
  top: 435px;
  width: 32px;
}
.skills-finance-about-iterated .vector-creator-7-3-C61RwL {
  background-color: transparent;
  height: 34px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 480px;
  width: 40px;
}
.skills-finance-about-iterated .vector-creator-9-3-C61RwL {
  background-color: transparent;
  height: 32px;
  left: 47px;
  position: absolute;
  top: 390px;
  width: 35px;
}
.skills-finance-about-iterated .what-youll-learn-C61RwL {
  background-color: transparent;
  height: auto;
  left: 39px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 180px;
  white-space: nowrap;
  width: auto;
}
.skills-finance-about-iterated .wifi-4e4sft {
  background-color: transparent;
  height: 12px;
  left: 22px;
  position: absolute;
  top: -1px;
  width: 16px;
}
.skills-finance-about-iterated .x24-basic-home-XQylJp {
  background-color: transparent;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.skills-finance-about-iterated .x24-basic-pencil-edit-aBwSBF {
  background-color: transparent;
  height: 36px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 36px;
}
.skills-finance-about-iterated .x941-mTfd3B {
  background-color: transparent;
  height: 12px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 29px;
}
.worksans-medium-green-vogue-10px {
  color: var(--green-vogue);
  font-family: 'Work Sans', Helvetica;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}
.worksans-normal-black-20px {
  color: var(--black);
  font-family: 'Work Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.worksans-semi-bold-black-18px {
  color: var(--black);
  font-family: 'Work Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.worksans-semi-bold-black-24px {
  color: var(--black);
  font-family: 'Work Sans', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.worksans-semi-bold-black-26px {
  color: var(--black);
  font-family: 'Work Sans', Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
}
.worksans-semi-bold-white-16px {
  color: var(--white);
  font-family: 'Work Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.worksans-semi-bold-white-18px {
  color: var(--white);
  font-family: 'Work Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.worksans-semi-bold-white-24px {
  color: var(--white);
  font-family: 'Work Sans', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
:root {
  --alto: rgba(217,217,217,1.0);
  --black: rgba(0,0,0,1.0);
  --blue-zodiac: rgba(16,41,76,1.0);
  --caribbean-green-pearl: rgba(86,222,140,1.0);
  --desert-storm: rgba(248,248,248,1.0);
  --green-vogue: rgba(4,41,79,1.0);
  --grenadier: rgba(226,48,1,1.0);
  --selective-yellow: rgba(255,180,0,1.0);
  --storm-dust: rgba(96,96,96,1.0);
  --white: rgba(255,255,255,1.0);
}
